<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.blog.dao.ArticleMapper">

    <resultMap id="BaseResultMap" type="article">
        <id column="id" property="id"/>
        <result column="title" property="title"/>
        <result column="c_id" property="cid"/>
        <result column="u_id" property="uid"/>
        <result column="publish_time" property="publishTime"/>
        <result column="edit_time" property="editTime"/>
        <result column="state" property="state"/>
        <result column="page_view" property="pageView"/>
        <result column="content" property="content"/>
        <result column="html_content" property="htmlContent"/>
        <result column="summary" property="summary"/>
        <result column="nickname" property="nickname"/>
        <result column="cate_name" property="cateName"/>
        <collection property="tag" ofType="tag">
            <id property="id" column="id"></id>
            <result property="tagName" column="tag_name"></result>
        </collection>
    </resultMap>

    <insert id="addArticle" useGeneratedKeys="true" keyProperty="id">
        insert into t_article
        set title=#{title},content=#{content},html_content=#{htmlContent},summary=#{summary},
            c_id=#{cid},u_id=#{uid},publish_time=#{publishTime},edit_time=#{editTime},state=#{state}
    </insert>

    <update id="updateArticle">
        update t_article
        set title=#{title},content=#{content},html_content=#{htmlContent},summary=#{summary},c_id=#{id},
            u_id=#{uid},edit_time=#{editTime}
        <if test="state==1">
            ,state=1
        </if>
        <if test="publishDate!=null">
            ,publish_date = #{publishDate}
        </if>
        where id = #{id}
    </update>

    <select id="getArticleById" resultMap="BaseResultMap">
        select a.*,t.tag_name,t.id as tid, u.nickname,c.cate_name
        from t_article a left join t_article_tag tat on a.id=tat.a_id
                left join t_tag t on tat.t_id=t.id
                left join t_user u on a.u_id = u.id
                left join t_category c on a.c_id = c.id
        where a.id = #{aid}
    </select>

    <update id="pvAdd">
        update t_article
        set page_view = page_view+1
        where id = #{aid}
    </update>

    <select id="getData" resultType="map">
        select count_date,pv
        from t_pv
        where u_id=#{uid}
        order by count_date desc limit 7
    </select>

    <delete id="deleteArticles">
        delete from t_article
        where id in
        <foreach collection="aids" item="aid" open="(" separator="," close=")">
            #{aid}
        </foreach>
    </delete>

    <update id="updateArticles">
        update t_article
        set state =2
        where id in
        <foreach collection="aids" item="aid" open="(" separator="," close=")">
            #{aid}
        </foreach>
    </update>

    <select id="getArticleByState" resultType="com.blog.bean.Article">
        select a.id,a.title,a.edit_time,a.page_view,a.state,u.nickname,c.cate_name,a.u_id
        from t_article a, t_user u, t_category c
        where a.c_id=c.id and u.id=a.u_id
        <!--state = -2，意思是不带状态查询所有已发表的博客，此时不需要知道博客的作者是谁-->
        <!--state = -1，代表个人的全部文章，包括草稿箱、已发表、已删除，此时只需要知道博客作者是谁，无需再考虑state是否等于1、2、3-->
        <if test="state!=-2">
            and a.u_id=#{uid}
        </if>
        <if test="state!=-1 and state!=-2">
            and a.state=#{state}
        </if>
        <if test="state==-2">
            and a.state=1
        </if>
        <if test="keyword!=null">
            and title like concat('%',#{keyword},'%')
        </if>
        order by a.edit_time desc limit #{start}, #{count}
    </select>
</mapper>