<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.blog.dao.TagMapper">
    <insert id="saveTags">
        insert into t_tag(tag_name)
        values
        <foreach collection="tags" item="tag" index="index" separator=",">
            (tag_name = #{tag})
        </foreach>
    </insert>

    <delete id="deleteTagsByAid">
        delete from t_article_tag
        where a_id = #{aid}
    </delete>

    <select id="getTagIdByTagName" resultType="java.lang.Integer">
        select id
        from t_tag
        where tag_name in
        <foreach collection="tagNames" index="index" item="tagName" separator="," open="(" close=")">
            #{tagName}
        </foreach>
    </select>

    <insert id="addTagsToArticle2">
        insert into t_article_tag(a_id,t_id)
        values
        <foreach collection="tagIds" item="tagId" separator=",">
            (#{aid},#{tagId})
        </foreach>
    </insert>
</mapper>