<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lryepoch.dao.RankMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.lryepoch.entity.Rank">
        <id column="id" property="id" />
        <result column="song_list_id" property="songListId" />
        <result column="consumer_id" property="consumerId" />
        <result column="score" property="score" />
    </resultMap>

    <select id="selectScoreSum" resultType="java.lang.Integer">
        /*如果所有的表达式都是空值，最终将返回一个空值。使用COALESCE在于大部分包含空值的表达式最终将返回空值。*/
        select COALESCE(SUM(score),0) as score
        from rank
        where songListId = #{songListId}
    </select>

    <select id="selectRankNum" resultType="java.lang.Integer">
        select COALESCE(COUNT(id),0) as num
        from rank
        where songListId = #{songListId}
    </select>


</mapper>
